<ion-header class="bar-header "mode="md" [translucent]="true">
  <ion-toolbar *ngIf="user_id" class="border0">
    <ion-item  lines="none">
<ion-label class="labeldate" style="font-weight : 700; font-size:2em">
  Today
  <p style="font-weight:400; color:#433465">{{today | date:'fullDate'}}</p> 
</ion-label>
    </ion-item>
   
   <ion-avatar slot="start" class="avatar">
    <img src="assets/chef.png" (click)="profile()">
  </ion-avatar>

</ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" >

<!-- Default Refresher -->
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-item lines="none" *ngIf="user_id">
    <ion-label >
      <h2 class="titleSub" style="text-transform: capitalize;" >Hello {{userData.ad_soyad}},</h2>
      <br>
      <h1 style="font-weight : 700;" align="center" class="titleFont">Tasks</h1>
    </ion-label>
  </ion-item>

    <!-- fab placed to the top end -->
    <div *ngIf="user_id ">
    <ion-fab vertical="bottom" horizontal="end" slot="fixed" >
      <ion-fab-button color="danger" (click)="todoModal()">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab>
</div>

<!--User login değil ise-->
<div *ngIf="!user_id  && !forgetpassword" style="text-align:center;" class="top100">
<img src="../assets/8 SCENE.svg">       
<ion-input placeholder="E-mail" class="loginInput" type="email" [(ngModel)]="email"></ion-input>
<ion-input placeholder="Password" class="loginInput" type="password" [(ngModel)]="password"></ion-input>
<section>
<ion-button color="warning" class="appButton"  [disabled]=" !email || !password " expand="block" (click)="onLogin(name,email,password)">Login</ion-button>
<span class="divider line one-line">or</span>
<ion-button color="danger" class="appButton" expand="block" shape="round" fill="outline" (click)="userModal()">New Account</ion-button>
<ion-item lines="none" >
<ion-label class="center" color="primary" (click)="forgotpassword('true')">Forgot Password?</ion-label>
</ion-item>
<img src="../assets/logo.jpg" width="75px"> 
</section>
</div>


<!--Forgot Password-->
<div *ngIf="forgetpassword" class="center" >
  <ion-card-header>
    <ion-card-title>Reset Password</ion-card-title>
  </ion-card-header>
<ion-item lines="none" >
<ion-label position="floating">Your Email...</ion-label>
<ion-input type="email" [(ngModel)]="email"></ion-input>
</ion-item>   
<ion-button color="danger" class="loginbutton" [disabled]=" !email " shape="round" (click)="forgotpassword('true',email)">Send</ion-button><br>
<span class="divider line one-line">or</span>
<ion-item lines="none" class="center" (click)="forgotpassword('false')">
<ion-label  color="success" > Back to Login </ion-label>
</ion-item>
<br>
<img class="center" width="300px"src="../assets/mail.svg">
<br>
<br>
<br>
<br>
<img src="../assets/logo.jpg" width="75px"> 
</div>

<!--User login olmuş ise-->
<div *ngIf="user_id">

  <ion-list >
    <!-- Multi-line sliding item with icon options on both sides -->
    <ion-item-sliding id="item100" *ngFor="let todo of todoList.data" >
     
      <ion-item lines="none" class="test conteiner" *ngIf="todo.durum==0">
        <ion-checkbox class="chec" color="dark" slot="start" (click)="updateStatus(todo.no,0,1)"></ion-checkbox>

        <ion-label class="detail done" (click)="detailOpen(todo.no,user_id,todo.baslik,todo.b_tarih,todo.b_saat)">
          <h2>{{todo.baslik}}</h2>
         
        </ion-label>
       
        <ion-badge color="warning" slot="end" class="badgeCss" *ngIf="todo.adet>0">{{todo.adet}}</ion-badge>
      </ion-item>

      <ion-item-options side="start" >
        <ion-item-option class="test_b0">
          <ion-icon slot="icon-only" name="heart"></ion-icon>
        </ion-item-option>
      </ion-item-options>
      <ion-item-options side="end" >
        
        <ion-item-option *ngIf="todo.user_id==user_id" class="test_b0" (click)="delPress(todo.no,-1,2)">
          <ion-icon slot="icon-only" name="trash"></ion-icon>
        </ion-item-option>

        <ion-item-option  *ngIf="todo.user_id==user_id" class="test_b0 right10">
          <ion-icon slot="icon-only" name="create" (click)="mesajModal(id,user_id)" ></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>


  <!--Tamamlanan işler-->
  <ion-list >

<ion-item lines="none">
  <ion-label >
    
    <h1 style="font-weight : 700; "align="center"  class="titleFont">Completed</h1>
  </ion-label>
</ion-item>
 

    <!-- Multi-line sliding item with icon options on both sides -->
    <ion-item-sliding id="item100" *ngFor="let todo of todoList.data" >
     
      <ion-item lines="none" class="test conteiner" *ngIf="todo.durum==1">
        <ion-checkbox checked="true" class="chec" color="dark" slot="start" (click)="updateStatus(todo.no,1,0)"></ion-checkbox>

        <ion-label  class="detail done"  (click)="detailOpen(todo.no,user_id,todo.baslik,todo.b_tarih,todo.b_saat)">
          <h2 class="titleFont2">{{todo.baslik}}</h2>
         
        </ion-label>
       
        <ion-badge color="warning" slot="end" class="badgeCss opacity1" *ngIf="todo.tamamlanan_adet>0">{{todo.tamamlanan_adet}}</ion-badge>
      </ion-item>

      <ion-item-options side="start" >
        <ion-item-option class="test_b0">
          <ion-icon slot="icon-only" name="heart"></ion-icon>
        </ion-item-option>
      </ion-item-options>

      <ion-item-options side="end" >
        
        <ion-item-option class="test_b0" (click)="delPress(todo.no,-1,2)">
          <ion-icon slot="icon-only" name="trash"></ion-icon>
        </ion-item-option>

        <ion-item-option class="test_b0 right10">
          <ion-icon slot="icon-only" name="create"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list> 
  </div>
</ion-content>
