ion-menu-button {
  color: var(--ion-color-primary);
}

#container {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;
  color: #8c8c8c;
  margin: 0;
}

#container a {
  text-decoration: none;
}

.test{
  border: 1px solid #f7f7f7;
  padding: 0px;
  margin-left: 18px;
  border-radius: 10px;
  background: #F7F7F7;
  --background: #F7F7F7;
  margin-right: 18px;
  margin-bottom: 10px;
}


.test_b0{
  border: 1px solid #f7f7f7;
  margin-bottom: 15px;
  border-radius: 10px;
  --background:#000;
}

.badgeCss{
  padding: 9px;
  border-radius: 43px;
  min-width: 31px;
}

.kart{
  border: 1px solid #ddd;
  padding: 10px;
  margin: 23px;
  border-radius: 8px;
  background: #ddd;
  --background: #ddd;
  box-shadow: 10px 10px 4px #a0a0a0;
}

.titleFont2{
  font-size: 14px;
    font-weight: 500;
    text-decoration: line-through;
    margin-bottom: 15px;
    opacity: 0.5;
}


.titleFont3{
  font-size: 14px;
    font-weight: 500;
    margin-bottom: 15px;
}


.avatar{
  padding: 5px;
  margin-left: 14px;
  margin-top: 4px;
}


.titleFont{
  font-size: 22px;
    font-weight: 500;
}


.conteiner{
  display: flex;
  flex-direction: row;

 
  position: relative;
}
.chec{
  position: absolute;
  z-index: 100;
}
.detail{
  position: relative;
  left: 15%;

}







